* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background: var(--black-deep);
  color: var(--text-main);
  font-family: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
