:root {
  --black-deep: #0b0b0b;
  --black-soft: #151515;

  --paper: #f4efe8;
  --paper-soft: #efe9df;

  --gold: #c7a867;
  --gold-muted: rgba(199,168,103,.6);

  --text-main: rgba(255,255,255,.9);
  --text-muted: rgba(255,255,255,.6);

  --radius: 2px;
    --header-height-mobile: 148px;
  --header-height-desktop: 168px;
}
